<div class="frame">
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center">
        <h1 class="col-10">INLOGGEN</h1>
      </div>
      <div class="row justify-content-center">
        <input class="col-10" placeholder="Email" type="email" formControlName="email" required>
      </div>
      <div class="row justify-content-center">
        <input class="col-10" placeholder="Wachtwoord" type="password" formControlName="password" required>
      </div>
      <div class="row justify-content-center">
        <button [ngClass]="[ACCENT_COLOR, 'col-10 btn-large']"  type="submit" id="login" [disabled]="!userForm.valid">INLOGGEN</button>
        <a routerLink="/signup">Ik heb nog geen account</a>
      </div>
    </form>
  </div>
</div>
