<circle-progress
  [percent]="stepsToNextLevel"
  [maxPercent]="100"
  [toFixed]="0"
  [showTitle]="true"
  [showUnits]="true"
  [showSubtitle]="false"
  [showImage]="false"
  [showBackground]="false"
  [showInnerStroke]="true"
  [clockwise]="true"
  [responsive]="false"
  [startFromZero]="true"
  [showZeroOuterStroke]="true"

  [radius]="100"

  [title]="'auto'"
  [subtitle]="'subtitle'"

  [titleColor]="'#fff'"
  [unitsColor]="'#fff'"
  [subtitleColor]="'#fff'"
  [outerStrokeColor]="'#4DB6AC'"
  [innerStrokeColor]="'#F06292'"

  [outerStrokeWidth]="12"
  [space]="1"
  [innerStrokeWidth]="11"
  [outerStrokeLinecap]="'round'"

  [titleFontSize]="20"
  [unitsFontSize]="15"
  [subtitleFontSize]="10"
  [titleFontWeight]="500"
  [unitsFontWeight]="500"
  [subtitleFontWeight]="500"

  [animation]="true"
  [animateTitle]="true"
  [animationDuration]="300"
></circle-progress>
